UsersFacade.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://session.cset.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://session.cset.edu/" name="UsersFacadeService">
<types>
<xsd:schema>
<xsd:import namespace="http://session.cset.edu/" schemaLocation="http://localhost:8080/UsersFacadeService/UsersFacade?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="removeResponse">
<part name="parameters" element="tns:removeResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="editResponse">
<part name="parameters" element="tns:editResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="Authenthicate">
<part name="parameters" element="tns:Authenthicate"/>
</message>
<message name="AuthenthicateResponse">
<part name="parameters" element="tns:AuthenthicateResponse"/>
</message>
<portType name="UsersFacade">
<operation name="remove">
<input wsam:Action="http://session.cset.edu/UsersFacade/removeRequest" message="tns:remove"/>
<output wsam:Action="http://session.cset.edu/UsersFacade/removeResponse" message="tns:removeResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://session.cset.edu/UsersFacade/findRequest" message="tns:find"/>
<output wsam:Action="http://session.cset.edu/UsersFacade/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://session.cset.edu/UsersFacade/createRequest" message="tns:create"/>
<output wsam:Action="http://session.cset.edu/UsersFacade/createResponse" message="tns:createResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://session.cset.edu/UsersFacade/editRequest" message="tns:edit"/>
<output wsam:Action="http://session.cset.edu/UsersFacade/editResponse" message="tns:editResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://session.cset.edu/UsersFacade/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://session.cset.edu/UsersFacade/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="registerUser">
<input wsam:Action="http://session.cset.edu/UsersFacade/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://session.cset.edu/UsersFacade/registerUserResponse" message="tns:registerUserResponse"/>
</operation>
<operation name="Authenthicate">
<input wsam:Action="http://session.cset.edu/UsersFacade/AuthenthicateRequest" message="tns:Authenthicate"/>
<output wsam:Action="http://session.cset.edu/UsersFacade/AuthenthicateResponse" message="tns:AuthenthicateResponse"/>
</operation>
</portType>
<binding name="UsersFacadePortBinding" type="tns:UsersFacade">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Authenthicate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsersFacadeService">
<port name="UsersFacadePort" binding="tns:UsersFacadePortBinding">
<soap:address location="http://localhost:8080/UsersFacadeService/UsersFacade"/>
</port>
</service>
</definitions>